.btn {
  &-1 {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    transition: all 0.3s ease;
    &--dark {
      color: $pure-white;
      background-color: $pure-black;
    }
    &--light {
      color: $pure-black;
      background-color: $pure-white;
    }

    &:hover {
      background-color: $light-grey;
      color: $pure-black;
    }
  }

  &-2 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;

    &--light {
      color: $pure-white;
      &:after {
        filter: invert(100%);
      }
    }

    &--dark {
      color: $pure-black;
    }

    &::after {
      content: url('../assets/shared/desktop/arrow.svg');

      height: 12px;
      width: 42px;
      margin-left: 18px;
    }

    &:hover {
      text-decoration: underline;
      animation: bounce 1s ease infinite;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(0px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
}
