.features-main {
  & .hero p {
    margin-bottom: 0;
  }

  & .feature {
    // margin-bottom: 104px;
  }
}

.features {
  margin: 120px 160px;
  display: grid;
  gap: 104px 30px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.feature {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;

  &__content {
    .paragraph {
      margin: 0;
    }
  }

  &__img {
    margin: auto;
  }
}

.beta {
  background: url(../assets/shared/desktop/bg-beta.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-image: $main-accent;
  }
}

.beta-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 68px 165px;

  & .heading-1 {
    max-width: 400px;
  }
}
