.home .features {
  @media only screen and (max-width: 768px) {
    gap: 80px;
    grid-template-columns: 1fr;
    max-width: 547px;
  }
}

.features-main {
  & .hero p {
    margin-bottom: 0;
  }
}

.features {
  max-width: 1110px;
  margin: 120px auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  @media only screen and (max-width: 900px) {
    gap: 72px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 690px;
    width: 80%;
  }
  @media only screen and (max-width: 767px) {
    gap: 72px;
    grid-template-columns: 1fr;
    width: 80%;
    min-width: 310px;
  }
}

.feature {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;

  &__content {
    .paragraph {
      margin: 0;
    }
  }

  &__img {
    margin: auto;
  }
}

.beta {
  background: url(../assets/shared/desktop/bg-beta.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  @media only screen and (max-width: 650px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-image: $main-accent;
  }
}

.beta-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 68px 165px;
  @media only screen and (max-width: 1200px) {
    padding: 68px 90px;
  }

  @media only screen and (max-width: 1000px) {
    padding: 68px 40px;
  }

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 32px;
  }

  & .heading-1 {
    max-width: 400px;

    @media only screen and (max-width: 650px) {
      margin-bottom: 24px;
      font-size: 32px;
      letter-spacing: 3.33px;
    }
  }
}
