.hero {
  display: flex;
  height: 600px;
  &--home {
    height: 650px;
  }
  &--reverse {
    flex-direction: row-reverse;
  }
  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 9;
    }
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 495px;
  flex: 1;

  &--light {
    background-color: $pure-white;
  }

  &--dark {
    background-color: $pure-black;
  }
}

.hero-content {
  width: 387px;
}
