.pricing-main {
  & .hero p {
    margin-bottom: 0;
  }
}

.pricing-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 120px 165px;

  & .toggle {
    display: flex;
    align-items: center;
  }

  & .toggle .inactive {
    opacity: 0.5;
  }

  @media screen and (max-width: 1150px) {
    margin: 120px auto;
  }
}

.pricing-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
  }
}

.pricing-plan {
  width: 350px;
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px;

  @media screen and (min-width: 550px) and (max-width: 1150px) {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24px;
  }

  @media screen and (max-width: 550px) {
    margin: 12px auto;
  }

  &__desc {
    & * {
      @media screen and (min-width: 550px) and (max-width: 768px) {
        text-align: left;
      }
    }
  }

  &__price {
    @media screen and (min-width: 550px) and (max-width: 768px) {
      justify-self: self-end;
      align-self: self-start;
    }
    & .paragraph {
      @media screen and (min-width: 550px) and (max-width: 768px) {
        text-align: right;
      }
    }
  }

  &--light {
    background-color: #f5f5f5;
  }
  &--pro {
    background-color: $pure-black;
    height: 470px;
    position: relative;

    @media screen and (max-width: 1150px) {
      height: auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background-image: $main-accent;
      @media screen and (min-width: 550px) and (max-width: 768px) {
        width: 6px;
        height: 100%;
      }
    }
  }

  & .paragraph {
    margin: 0;
  }

  & .heading-1 {
    margin-top: 40px;

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
  & .btn-1 {
    width: 100%;
    margin-top: 40px;
  }

  &:not(:last-child) {
    margin-right: 30px;
    @media screen and (max-width: 1150px) {
      margin-right: 0;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
  margin: 0 32px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfdfdf;
    transition: 0.4s;

    &::before {
      position: absolute;
      content: '';
      height: 24px;
      width: 24px;
      border-radius: 50%;
      left: 4px;
      bottom: 4px;
      background-color: $pure-black;
      transition: 0.4s;
    }
  }

  & input:checked + .slider {
    background-color: $pure-black;
  }

  & input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(32px);
    background-color: $pure-white;
  }
}

.compare--desktop {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .compare-table {
    width: 731px;
    margin-top: 56px;
    margin-bottom: 160px;

    &__row {
      display: flex;
      align-items: center;
      height: 62px;
      border-bottom: 1px solid $light-grey;

      &--heading {
        border-bottom: 1px solid $pure-black;
      }
    }

    &__col {
      flex: 0 1 19%;
      text-align: center;
      &--desc {
        flex: 0 1 44%;
        margin-left: 24px;
      }

      &--checked {
        height: 100%;
        background-image: url(../assets/pricing/desktop/check.svg);
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.compare--mobile {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: none;
  }

  .compare-table {
    &__row {
      border-bottom: 1px solid $light-grey;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 44px 28px 40px;

      & .paragraph {
        margin: 0;
      }
      &--heading {
        border-bottom: 1px solid $pure-black;
      }
    }

    &__col {
      &--desc {
        grid-column: 1/4;
        grid-row: 1/2;
      }
      &--checked {
        height: 15px;
        background-image: url(../assets/pricing/desktop/check.svg);
        background-size: 16px;
        background-position: left;
        background-repeat: no-repeat;
      }
    }
  }
}
