.stories {
  display: flex;
  flex-wrap: wrap;
}

.story-card {
  position: relative;
  height: 100%;
  width: 25%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    width: 50%;
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
  }
  &__image {
    width: 100%;
  }
  &__info {
    color: $pure-white;
    z-index: 1;
    padding: 16px 0;
    border-bottom: 1px solid rgba($pure-white, 0.25);

    h3 {
      margin: 0;
    }
    span {
      font-size: 13px;
      line-height: 17px;
      width: 100%;
    }
  }

  .btn-2 {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 0;
    background-image: $main-accent;
    transition: all 0.3s ease;
  }

  &:hover {
    transform: translateY(-24px);

    .gradient {
      width: 100%;
    }
  }
}
